.highlighted-text, .step{
    color: rgb(99 102 241);
}
.beginner-guide{
    margin-bottom: 10%;
    width: 95%;
    margin-left: 2.5%;
}
.content{
    padding: 15px;
}
.btn{
    color: rgb(11, 11, 12);
    text-align: center;
    margin-top: 3%;
}